name: Runtime Risks

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  gh-action-report:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
      issues: write

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Install k3s
      run: |
        curl -sfL https://get.k3s.io | sh -
        sudo cp /etc/rancher/k3s/k3s.yaml $HOME/k3s.yaml
        sudo chown $USER $HOME/k3s.yaml
        echo "KUBECONFIG=$HOME/k3s.yaml" >> $GITHUB_ENV

    - name: Download and extract knoxctl binary
      run: |
        wget -qO- https://knoxctl.netlify.app/binaries/accuknoxcli_0.1.7_linux_amd64.tar.gz | tar -zxvf -

    - name: Install Knoxctl 
      run: |
        chmod +x knoxctl
        sudo mv knoxctl /usr/local/bin
        knoxctl --help
        kubectl wait --for=condition=ready nodes --all --timeout=60s
        knoxctl install

    - name: Deploy test appliction
      run: |
        kubectl create namespace cache
        kubectl create deployment redis --image=redis --namespace=redis
    
    - name: Wait for summary engine to collect telemetry data
      run: |
        echo "summary engine is collecting data"
        sleep 180

    - name: Generate report and see report
      run: |
        knoxctl report --baseline .github/workflows/summary.json --no-tui 

    - name: Upload PR report as artifact
      uses: actions/upload-artifact@v2
      with:
        name: pr-report
        path: knoxctl_out/reports/pr_report.md

    - name: PR comment with file
      uses: thollander/actions-comment-pull-request@v2
      with: 
        filePath: knoxctl_out/reports/pr_report.md
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
