name: Setup and Run CLI

on:
  push:
    branches:
      - main

jobs:
  setup-run-knoxctl:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Install k3s
      run: |
        curl -sfL https://get.k3s.io | sh -

    - name: Set KUBECONFIG
      run: |
        echo "KUBECONFIG=/etc/rancher/k3s/k3s.yaml" >> $GITHUB_ENV
        echo "/usr/local/bin" >> $GITHUB_PATH

    - name: Download and extract knoxctl binary
      run: |
        wget -qO- https://knoxctl.netlify.app/binaries/accuknoxcli_0.1.5_linux_amd64.tar.gz | tar -zxvf -

    - name: Move binary and run install
      run: |
        chmod +x knoxctl
        sudo mv knoxctl /usr/local/bin
        knoxctl --help
        sudo knoxctl install
